Repository Tricar5/vector-search-hse: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, flake8-tests, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort --settings-file ./setup.cfg
        language: system
        types: [ python ]
        pass_filenames: true
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black ./service --config pyproject.toml
        language: system
        types: [ python ]
        pass_filenames: true
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 --config ./setup.cfg
        language: system
        types: [ python ]
        pass_filenames: true
        files: ./service/.+\.py$
  - repo: local
    hooks:
      - id: flake8-tests
        name: flake8-tests
        entry: flake8 --config ./flake8.tests.ini
        language: system
        types: [ python ]
        pass_filenames: true
        files: tests/.+\.py$
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --config-file setup.cfg --ignore-missing-imports
        language: system
        types: [ python ]
        pass_filenames: true
        files: service/.+\.py$

removed temporary docker-compose.yml
  docker-compose.yml
Due: none

Dev/mod structure (#9)
  .editorconfig
  .pre-commit-config.yaml
  Makefile
  _app.py
  flake8.tests.ini
  pyproject.toml
  service/__main__.py
  service/__name__.py
  service/adapters/__init__.py
  service/adapters/files.py
  service/app.py
  service/entrypoints/__init__.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/__init__.py
  service/entrypoints/routes/web.py
  service/services/web.py
  service/settings.py
  service/utils.py
  setup.cfg
  tests/__init__.py
  uv.lock
Due: isort, black, flake8-tests, mypy

added poetry.toml
  poetry.lock
  pyproject.toml
Due: none

updated readme.md
  .env.default
  Makefile
  README.md
  poetry.lock
  pyproject.toml
  vs/local/pipeline.py
Due: isort, black

intermediate commit with api route and base commit
  poetry.lock
  pyproject.toml
  service/__main__.py
  service/adapters/engines/__init__.py
  service/adapters/engines/local.py
  service/adapters/engines/schemas.py
  service/di.py
  service/domain/engines/__init__.py
  service/domain/engines/local.py
  service/domain/internal/__init__.py
  service/domain/internal/errors/__init__.py
  service/domain/internal/errors/exc.py
  service/domain/internal/errors/handlers.py
  service/domain/internal/errors/registry.py
  service/domain/internal/errors/schemas.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/settings.py
Due: isort, black, mypy

alembic added
  Makefile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  service/adapters/engines/base.py
  service/adapters/engines/local.py
  service/db/__init__.py
  service/db/alembic.ini
  service/db/migrations/README
  service/db/migrations/__init__.py
  service/db/migrations/__main__.py
  service/db/migrations/env.py
  service/db/migrations/script.py.mako
  service/db/migrations/versions/2025_12_14-9c30eb971b72_inference_hist.py
  service/db/migrations/versions/__init__.py
  service/db/models/__init__.py
  service/db/models/base.py
  service/db/models/inference.py
  service/di.py
  service/domain/inference/__init__.py
  service/domain/inference/schemas.py
  service/domain/inference/types.py
  service/entrypoints/routes/api.py
  service/services/search.py
  service/settings.py
  setup.cfg
Due: isort, black, mypy

added repositories
  Makefile
  poetry.lock
  pyproject.toml
  service/db/connections/__init__.py
  service/db/connections/base.py
  service/db/connections/postgres.py
  service/db/migrations/env.py
  service/db/migrations/versions/2025_12_14-41d9dc09f6d1_search_hist.py
  service/db/models/search.py
  service/db/repositories/__init__.py
  service/db/repositories/base.py
  service/db/repositories/search.py
  service/di.py
  service/domain/inference/schemas.py
  service/entrypoints/routes/api.py
  service/services/search.py
  service/settings.py
Due: isort, black, mypy

added basic auth utilities refactored dishka
  docs/service.md
  poetry.lock
  pyproject.toml
  service/adapters/engines/local.py
  service/db/connections/postgres.py
  service/db/migrations/env.py
  service/di.py
  service/domain/auth/__init__.py
  service/domain/auth/auth.py
  service/domain/auth/token.py
  service/domain/auth/user.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  service/services/auth_service.py
  service/settings.py
Due: isort, black, mypy

added auth
  service/db/migrations/versions/2025_12_14-851c74e1e6da_search_hist_user.py
  service/db/models/search.py
  service/db/repositories/base.py
  service/domain/auth/auth.py
  service/domain/auth/token.py
  service/domain/inference/schemas.py
  service/domain/internal/schemas.py
  service/entrypoints/routes/api.py
  service/services/search.py
Due: isort, black, mypy

added delete history
  service/db/repositories/search.py
  service/domain/auth/auth.py
  service/domain/auth/token.py
  service/domain/auth/user.py
  service/entrypoints/routes/api.py
  service/services/search.py
Due: isort, black, mypy

added basic metrics
  .env.default
  docs/service.md
  poetry.lock
  pyproject.toml
  service/di.py
  service/domain/internal/metrics/__init__.py
  service/domain/internal/metrics/instrumentator.py
  service/domain/internal/metrics/metrics.py
  service/entrypoints/http_server.py
  service/services/search.py
  service/settings.py
Due: isort, black, mypy

modified app description
  Makefile
  README.md
  docs/service.md
Due: none

Update local.py
  service/adapters/engines/local.py
Due: isort, black, mypy

modified app description
  Makefile
  README.md
  service/adapters/engines/local.py
  service/domain/internal/metrics/instrumentator.py
Due: isort, black, mypy

Fixed images in cv_eda md file
  cv_eda/README.md
Due: none

Partial swap of models. Currently in progress. Unstable
  vs/embedder/AudioCLIP/__init__.py
  vs/embedder/AudioCLIP/model/__init__.py
  vs/embedder/AudioCLIP/model/audioclip.py
  vs/embedder/AudioCLIP/model/clip/__init__.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/AudioCLIP/model/clip/model.py
  vs/embedder/AudioCLIP/model/esresnet/__init__.py
  vs/embedder/AudioCLIP/model/esresnet/attention.py
  vs/embedder/AudioCLIP/model/esresnet/base.py
  vs/embedder/AudioCLIP/model/esresnet/fbsp.py
  vs/embedder/AudioCLIP/protocols/README.md
  vs/embedder/AudioCLIP/protocols/audioclip-esc50.json
  vs/embedder/AudioCLIP/protocols/audioclip-us8k.json
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/AudioCLIP/utils/datasets/__init__.py
  vs/embedder/AudioCLIP/utils/datasets/esc50.py
  vs/embedder/AudioCLIP/utils/datasets/us8k.py
  vs/embedder/AudioCLIP/utils/simple_tokenizer.py
  vs/embedder/AudioCLIP/utils/transforms.py
  vs/embedder/clip.py
Due: isort, black

All essential parts of update is done. Not linked to frontend, yet
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/clip.py
  vs/local/engine.py
  vs/local/pipeline.py
Due: isort, black

Fixed images in cv_eda md file (#12)
  cv_eda/README.md
Due: none

Tested code with flask branch, it's working. FastAPI will need to be tested
  pyproject.toml
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/clip.py
  vs/local/pipeline.py
Due: isort, black

Added code for training reranker
  reranker_train/compute_metrics.py
  reranker_train/concatenate_tables.py
  reranker_train/test_data.py
  reranker_train/train_gbc_reranker.py
Due: isort, black

added support for reranker model in code
  flask_from_groundup/app.py
  flask_from_groundup/model.pkl
Due: isort, black

Add files via upload
  reranker_train/compute_metrics.py
Due: isort, black

updated web router
  docs/service.md
  engines.yml
  poetry.lock
  pyproject.toml
  service/di.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  vs/cli.py
  vs/embedder/clip.py
  vs/local/engine.py
  vs/utils.py
Due: isort, black, mypy

fixes with routes
  service/db/repositories/base.py
  service/di.py
  service/domain/auth/auth.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/services/auth_service.py
  service/services/search.py
Due: isort, black, mypy

integrated web router
  service/db/repositories/base.py
  service/di.py
  service/domain/auth/auth.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  service/services/auth_service.py
  service/services/search.py
Due: isort, black, mypy

added script for scoring
  Makefile
  conf/reranker/default.yaml
  poetry.lock
  pyproject.toml
  service/services/search.py
  vs/cli.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/reranker/_mlflow_cfg.py
  vs/reranker/predict.py
  vs/reranker/train.py
Due: isort, black, mypy

added script
  vs/reranker/_env.py
  vs/reranker/concatenate_tables.py
  vs/reranker/predict.py
Due: isort, black

small refac + added docs
  docs/ml-reranker-tracker.md
  vs/reranker/_mlflow_cfg.py
  vs/reranker/compute_metrics.py
  vs/reranker/predict.py
  vs/reranker/train.py
Due: isort, black

refac with fastapi
  service/adapters/engines/base.py
  service/adapters/engines/local.py
  service/adapters/engines/schemas.py
  service/di.py
  service/domain/inference/types.py
  service/domain/videos/schemas.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  service/services/search.py
  service/settings.py
  service/templates/index.html
  vs/embedder/clip.py
  vs/local/__init__.py
  vs/local/engine.py
  vs/reranker/__init__.py
  vs/reranker/predict.py
Due: isort, black, mypy

added logging
  vs/local/engine.py
Due: isort, black

corrected
  engines.yml
  service/adapters/engines/schemas.py
  vs/cli.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/clip.py
  vs/local/engine.py
Due: isort, black, mypy

added grafana
  README.md
  deploy/grafana/dashboards/vector_search.json
  deploy/grafana/provisioning/dashboards/dashboards.yml
  deploy/grafana/provisioning/datasources/prometheus.yml
  deploy/prometheus/prometheus.yml
  docker-compose.yml
  service/di.py
  service/domain/internal/metrics/collector.py
  service/domain/internal/metrics/default.py
  service/domain/internal/metrics/metrics.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/services/search.py
  service/templates/index.html
Due: isort, black, mypy

some refac with prometheus
  README.md
  deploy/grafana/dashboards/vector_search.json
  deploy/prometheus/prometheus.yml
  service/domain/internal/metrics/default.py
Due: isort, black, mypy
