Repository Tricar5/vector-search-hse: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, flake8-tests, mypy

isort:
  name: isort
  entry: isort --settings-file ./setup.cfg
  language: system
  pass_filenames: true

black:
  name: black
  entry: black ./service --config pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config ./setup.cfg
  language: system
  pass_filenames: true

flake8-tests:
  name: flake8-tests
  entry: flake8 --config ./flake8.tests.ini
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file setup.cfg --ignore-missing-imports
  language: system
  pass_filenames: true

migrated to fastapi
  Makefile
  _app.py
  pyproject.toml
  service/__name__.py
  service/api/__init__.py
  service/api/web.py
  service/app.py
  service/services/web.py
  service/settings.py
  service/utils.py
  uv.lock
Due: isort, black, mypy

Dev/mod structure (#9)
  Makefile
  _app.py
  pyproject.toml
  service/__main__.py
  service/__name__.py
  service/api/__init__.py
  service/api/web.py
  service/app.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/web.py
  service/services/web.py
  service/settings.py
  service/utils.py
  setup.cfg
  uv.lock
Due: isort, black, mypy

added poetry.toml
  poetry.lock
  pyproject.toml
Due: none

updated readme.md
  .env.default
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Due: none

Dev/checkpoint requirements (#11)
  .env.default
  Makefile
  README.md
  poetry.lock
  pyproject.toml
  service/__main__.py
  service/adapters/engines/local.py
  service/domain/internal/metrics/instrumentator.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/web.py
  service/settings.py
  setup.cfg
Due: isort, black, mypy

integrated web router
  service/db/repositories/base.py
  service/di.py
  service/domain/auth/auth.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  service/services/auth_service.py
  service/services/search.py
Due: isort, black, mypy

Tested code with flask branch, it's working. FastAPI will need to be tested
  pyproject.toml
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/clip.py
  vs/local/pipeline.py
Due: isort, black

updated web router
  docs/service.md
  engines.yml
  poetry.lock
  pyproject.toml
  service/di.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  vs/cli.py
  vs/embedder/clip.py
  vs/local/engine.py
  vs/utils.py
Due: isort, black, mypy

Update local.py
  service/adapters/engines/local.py
Due: isort, black, mypy

fixes with routes
  service/db/repositories/base.py
  service/di.py
  service/domain/auth/auth.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/services/auth_service.py
  service/services/search.py
Due: isort, black, mypy

All essential parts of update is done. Not linked to frontend, yet
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/clip.py
  vs/local/engine.py
  vs/local/pipeline.py
Due: isort, black

Partial swap of models. Currently in progress. Unstable
  vs/embedder/AudioCLIP/__init__.py
  vs/embedder/AudioCLIP/model/__init__.py
  vs/embedder/AudioCLIP/model/audioclip.py
  vs/embedder/AudioCLIP/model/clip/__init__.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/AudioCLIP/model/clip/model.py
  vs/embedder/AudioCLIP/model/esresnet/__init__.py
  vs/embedder/AudioCLIP/model/esresnet/attention.py
  vs/embedder/AudioCLIP/model/esresnet/base.py
  vs/embedder/AudioCLIP/model/esresnet/fbsp.py
  vs/embedder/AudioCLIP/protocols/README.md
  vs/embedder/AudioCLIP/protocols/audioclip-esc50.json
  vs/embedder/AudioCLIP/protocols/audioclip-us8k.json
  vs/embedder/AudioCLIP/utils/__init__.py
  vs/embedder/AudioCLIP/utils/datasets/__init__.py
  vs/embedder/AudioCLIP/utils/datasets/esc50.py
  vs/embedder/AudioCLIP/utils/datasets/us8k.py
  vs/embedder/AudioCLIP/utils/simple_tokenizer.py
  vs/embedder/AudioCLIP/utils/transforms.py
  vs/embedder/clip.py
Due: isort, black

modified app description
  Makefile
  README.md
  service/adapters/engines/local.py
  service/domain/internal/metrics/instrumentator.py
Due: isort, black, mypy

added mlflow
  research/mlflow/load_prd_model.ipynb
  research/mlflow/train_reranker_mlflow.ipynb
Due: none

added script
  vs/reranker/_env.py
  vs/reranker/concatenate_tables.py
  vs/reranker/predict.py
Due: isort, black

some refac with prometheus
  README.md
  deploy/grafana/dashboards/vector_search.json
  deploy/prometheus/prometheus.yml
  service/domain/internal/metrics/default.py
Due: isort, black, mypy

corrected
  engines.yml
  service/adapters/engines/schemas.py
  vs/cli.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/embedder/clip.py
  vs/local/engine.py
Due: isort, black, mypy

added logging
  vs/local/engine.py
Due: isort, black

small refac + added docs
  docs/ml-reranker-tracker.md
  vs/reranker/_mlflow_cfg.py
  vs/reranker/compute_metrics.py
  vs/reranker/predict.py
  vs/reranker/train.py
Due: isort, black

added script for scoring
  Makefile
  conf/reranker/default.yaml
  poetry.lock
  pyproject.toml
  service/services/search.py
  vs/cli.py
  vs/embedder/AudioCLIP/model/clip/clip.py
  vs/reranker/_mlflow_cfg.py
  vs/reranker/predict.py
  vs/reranker/train.py
Due: isort, black, mypy

added grafana
  README.md
  deploy/grafana/dashboards/vector_search.json
  deploy/grafana/provisioning/dashboards/dashboards.yml
  deploy/grafana/provisioning/datasources/prometheus.yml
  deploy/prometheus/prometheus.yml
  docker-compose.yml
  service/di.py
  service/domain/internal/metrics/collector.py
  service/domain/internal/metrics/default.py
  service/domain/internal/metrics/metrics.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/services/search.py
  service/templates/index.html
Due: isort, black, mypy

refac with fastapi
  service/adapters/engines/base.py
  service/adapters/engines/local.py
  service/adapters/engines/schemas.py
  service/di.py
  service/domain/inference/types.py
  service/domain/videos/schemas.py
  service/entrypoints/http_server.py
  service/entrypoints/routes/api.py
  service/entrypoints/routes/web.py
  service/services/search.py
  service/settings.py
  service/templates/index.html
  vs/embedder/clip.py
  vs/local/__init__.py
  vs/local/engine.py
  vs/reranker/__init__.py
  vs/reranker/predict.py
Due: isort, black, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: ./service/.+\.py$ and \.py$
  flake8-tests: any of: tests/.+\.py$ and \.py$
  mypy: any of: service/.+\.py$ and \.py$
